/* @General Styles */
/* ------------------------------------------ */

html, body {
    height: 100%;
}
body {
	font-family: ubuntu;
	background-color: white;
    padding: 0;
    margin: 0;	
}
p {
	font-size: 0.8em!important;
	line-height: 15px!important;©
	margin: 0!important;
}
h2 {
	color: #333!important;
	font-family: arvo;
	height: auto!important;
	margin: 0!important;
}
#header {
	background-color: #333!important;
	border-bottom: none!important;
	-webkit-box-shadow: inset 0px 2px 0px #FBB03B;
	-moz-box-shadow: inset 0px 2px 0px #FBB03B;
	box-shadow: inset 0px 2px 0px #FBB03B;
}
#navbar {
	border-top: none!important;
	background-color: #333!important;
}
.list.inset {
	border-radius: 2px!important;
	margin: 1em 0em!important;
}
.list li a:after {
	right: 20px!important;
}
@#defaultNav a.pressed {
	background-color: #7AC943!important;
	color: white!important;
}
#afui #navbar a.pressed {
	border-radius: 4px;
	background-color: #94BE54;
}
#afui #header h1 {
	font-weight: 500;
    
}
.icon:before {
	font-size: 1.7em!important;
	margin-top: 2px!important;
}

#navbar_places {
	background-image: url("../images/place_icon.png")!important;
	background-repeat: no-repeat!important;
	background-position: center top!important;
	background-size: 24px 28px!important;
}
#navbar_events {
	background-image: url("../images/place_event.png")!important;
	background-repeat: no-repeat!important;
	background-position: center top!important;
	background-size: 24px 28px!important;
}
#navbar_stories {
	background-image: url("../images/place_stories.png")!important;
	background-repeat: no-repeat!important;
	background-position: center top!important;
	background-size: 24px 28px!important;
}

/* Global @Leaflet Map Styling */
/* ------------------------------------------ */

.leaflet-control-attribution {
	display: none;
}
.leaflet-control-container {
	display: none;
}


/* @Custom Header Buttons */
/* ------------------------------------------ */

.nav_icon {
	position: relative;
	top: 9px;
	right: -8px;
	height: 36px;
	width: 36px;
	z-index: 2;
	text-decoration: none;
}



.rightButton {

	float:right!important;
}
.leftButton {

	float:left!important;
}

/*.nav_bookmark_button img {
	width:35px;
}*/
.settings {
	color: white;
}


/* @Featured Home Page */
/* ------------------------------------------ */

.thumbnail_square {
	width: 6em;
	height: 6em;
	float: left;
	margin-right: 0.7em;
	/*margin: 0.7em 0.7em 0em 0.7em;*/
	
	overflow: hidden;
	border: 2px solid white;
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4)!important;
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.4)!important;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.4)!important;
}
#afui .list li {
	padding: 10px;
}
.featured_pg li {
	min-height: 7.5em;
}
.featured_pg h2 {
	padding: 0!important;
	font-size: 16px!important;
	font-weight: 400!important;
	margin-bottom: 0px!important;
	/*width: 88%;*/
	height: auto!important;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

}
.featured_pg b {
	margin-top: 0.5em;
	font-size: 0.8em;
}
.featured_pg p {
	margin-top: 2px!important;
}
.featured_pg img {
	height: 100%;
}
.featured_pg .list > li > a {
	margin-right: -10px!important;
}

.tag_home {
	font-family: arvo;
	color: white!important;
	padding: 0.1em 0.5em;
	font-size: 0.85em;
	font-weight: 400;
	position: absolute;
	right: 0;
	margin-bottom: 9px;
	bottom: 0;
}
.tag_story {
	background-color: #FFD321;
}
.tag_event {
	background-color: #EF4136;
}
.tag_place {
	background-color: #F6921D;
}
.featured_pg a.pressed {
	/*background-color: blue!important;*/
}
.featured_pg .list li:active {
	background-color: rgba(0,0,0,0.08);
}



/* @SideNav Main */
/* ------------------------------------------ */

#afui > #menu.tabletMenu {
	background-color: #555!important;
	/*border-right: 1px solid #777!important;*/
	border-right: 1px solid #101012!important;
}
#afui .menuButton { 
	/*float: left!important;*/
}
#afui #menu .list li:last-child {
	border-color: #101012;
}
#afui #menu .list li {
	border-color: #101012;
}
.side_nav {
	clear: both;
}
.pro_dp {
	width: 5em!important;
	height: 5em!important;
	border-width: 3px;
	margin: 1em;
}
.pro_dp img {
	width: 100%;
}
#side_nav_mypage h4 {
	display: block;
	position: relative;
	text-align: left;
	padding-top: 2.4em;
	font-weight: 500;
}

/* Custom Styles */
/* ------------------------------------------ */

.btn-facebook {
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/	
	/*background: -moz-linear-gradient(top, #5b80bf 0%, #3b5a9a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b80bf), color-stop(100%,#3b5a9a));
	background: -webkit-linear-gradient(top, #5b80bf 0%,#3b5a9a 100%);
	background: -o-linear-gradient(top, #5b80bf 0%,#3b5a9a 100%);
	background: -ms-linear-gradient(top, #5b80bf 0%,#3b5a9a 100%);
	background: linear-gradient(to bottom, #5b80bf 0%,#3b5a9a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&#39;#5b80bf&#39;, endColorstr=&#39;#3b5a9a&#39;,GradientType=0 );
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ff62c462&#39;, endColorstr=&#39;#ff51a351&#39;, GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/

	background-color: #5572A9!important;
	border-radius: 2px !important;
	font-family: "ubuntu";
	font-size: 1.4em;
	font-weight: 100!important;
	border: none!important;
	padding: 0.6em 1em 0.3em!important;
	line-height: 1em;
}
#fb_icon {
    background-image: url("../images/fb.png");
    background-position: left center;
    background-repeat: no-repeat;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.4) inset;
    display: block;
    float: left;
    height: 36px;
    margin-left: -4px;
    margin-right: 12px;
    margin-top: -8px;
    width: 24px;
}
/* @Places Page */
/* ------------------------------------------ */

#map { 
	height: 100%;
	width: 100%; 

	z-index: -1;
	position: fixed;
}
#map3 { 
	height: 100%;
	width: 100%; 
	z-index: -1;
	position: fixed;
}
.map_place {
	height: 100%;
	/*position: fixed;*/
}

/* Pull Tab */

.tab_place {
    position: absolute;
    width: 30px;
    height: 150px;
    background-color: #333;
    z-index: 100;
    top: 10%;
    border-right: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
}

.place_pg {
	padding: 0!important;
}
#places_car {
	height: auto!important;
	position: relative;

	margin-top: 20em;
	/*bottom: -26em;*/
	width: 100%;
	overflow: visible!important;

	border-top: 2px solid white;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.2),inset 0px 1px 0px white;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.2),inset 0px 1px 0px white;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2),inset 0px 1px 0px white;	
}

.place_unit {
	background-color: #f9f9f9;
	position: relative;
	z-index: 2;
	width: 100%;

	margin-top: 50%;

	padding: 0.8em 1em 1em 1em;
	border-top: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.1),inset 0px 1px 0px white;
	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.1),inset 0px 1px 0px white;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.1),inset 0px 1px 0px white;	

}
.place_unit2 {
	background-color: #f9f9f9;
	position: absolute;
	z-index: 2;
	width: 100%;

	padding: 0.8em 1em 1em 1em;
	border-top: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.1),inset 0px 1px 0px white;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.1),inset 0px 1px 0px white;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.1),inset 0px 1px 0px white;
	overflow: scroll;
}

.cat_tag_mini {
	font-size: 0.85em!important;
	font-family: ubuntu!important;
	font-weight: 400!important;
	border-radius: 0;
	padding: 3px 5px;
	color: white;
	background-color: #777!important;
	white-space: nowrap;
	line-height: 2em;
}
.place_dp {
	padding: 0.5em 1em;
	/*min-height: 350px!important;*/
	/*max-height: 425px;*/
	height: 425px!important;
	float: left;
}
.place_dp h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0!important;
	font-weight: 400!important;
}
.place_dp p {
	margin-top: 1em!important;
}
.place_dp .thumbnail_square {
	/*margin-top: -26px;*/
	margin-top: -2em;
	width: 5em;
	height: 5em;
}
.place_dp .thumbnail_square img {
	width: 100%;
}

/* @Events Page */
/* ------------------------------------------ */

.drawer_handle {
	height: 40px;
	width: 100%;
	background-color: orange;
	
	bottom: 0;
	top: 0;
	/*position: relative;*/
	position: absolute;
	text-align: center;
	line-height: 30px;
	font-size: 14px;

	color:black;

	z-index: 1;

	
}
#drawer {
	position: relative;
	
	background-color: black;
	z-index: 0;
	margin-top: 100%;
	height: 50%;
	background-color: black;

}

.events_pg {
	padding: 0!important;
}

.event_dp {
	padding: 0.5em 1em;
	/*min-height: 350px!important;*/
	/*max-height: 425px;*/
	/*height: 425px!important;*/
	float: left;
}
.event_map {
	height: 100%;	
}
#events_car {
	height: auto!important;
	position: absolute;
	
	width: 100%;

	overflow: visible!important;

	border-top: 2px solid white;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.2),inset 0px 1px 0px white;
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.2),inset 0px 1px 0px white;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2),inset 0px 1px 0px white;	

	margin-top: -65px;
}

#events_car_carousel {
overflow: visible!important;
}

#events_car .drawer_handle {
	/*height: auto!important;
	min-height: 0!important*/;
	height: 10px;
	background-color: red;
}

.event_dp h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0!important;
	font-weight: 400!important;
}
.event_dp h5 {
	margin-top: 3px;
}
.event_dp p {
	margin-top: 1em!important;
}
.event_dp .thumbnail_square {
	/*margin-top: -26px;*/
	margin-top: -2em;
	width: 5em;
	height: 5em;
}
.event_dp .thumbnail_square img {
	width: 100%;
}
/* Side Menu Catogories - Places */
/* ------------------------------------------ */

#side_nav_cat h2{
	font-family: ubuntu;
	color: white!important;
	font-weight: 700;

	line-height: 31px;
	background-color: #444;
	border-bottom: 1px solid #111;
	padding: 6px 10px;
}

/* @Mygathering @bookmark*/
/* ------------------------------------------ */

.bookmark_map {
	height: 100%;
}
.mypage_pg {
	padding: 0!important;
}
.bookmark_group a {
	width: 5em;
	background-color: red;
}
.bookmark_group {
	position: fixed;
	margin-top: 0em;
	z-index: 100;
	width: 100%;
	height: 3em;
	background-color: blue;
}
.button_bookmark {
	background:transparent;
	width: 33.333333333%!important;
	float: left!important;
}
.button_bookmark a {
	text-align: center;
	background-color: #666;
	margin: 0 auto;
	display: block;
	position: relative;

	padding-top: 0.4em;
	padding-bottom: 0.5em;

	font-weight: 400;
	font-size: 0.9em;
	color: white;

	text-decoration: none;
}
.button_bookmark a:active, .button_bookmark a:focus {
	background-color: red;
}
.bookmark_active {
	background-color: #94BE54!important;
}


/* @Login Page */
/* ------------------------------------------ */

.login_pg {
	font-family: arvo;
	text-align: center;
	font-weight: normal;
	color: #333!important;
	/*background-color: red!important;*/
	background-image: url("../images/bg_park.jpg")!important;
	background-size: 100%!important;
}
.login_pg .button {
	margin-top: 15%!important;
	color: white!important;
}
.login_pg img {
	margin-top: 10%!important;
}
.login_pg h1 {
	margin-top: 5%!important;	
	font-size: 1.8em;
}

/* Stories Listing */
/* ------------------------------------------ */




/* Stories Article */
/* ------------------------------------------ */

.stories_pg {
	padding: 0!important;
}

.story_unit {
	background-color: #f9f9f9;
	position: relative;
	z-index: 2;
	width: 100%;

	padding: 0.8em 1em 1em 1em;
	border-top: 1px solid #ccc;
	-webkit-box-shadow:  0px 0px 1px rgba(0,0,0,0.1),inset 0px 1px 0px white;
	-moz-box-shadow:  0px 0px 1px rgba(0,0,0,0.1),inset 0px 1px 0px white;
	box-shadow:  0px 0px 1px rgba(0,0,0,0.1),inset 0px 1px 0px white;

	margin-top: -50%;
}
.story_unit .thumbnail_square {
	margin-top: -26px;
	margin-bottom: 8px;
	width: 5em;
	height: 5em;
}
.story_unit .thumbnail_square img {
	width: 100%;
}
.story_unit h2 {
	padding: 0!important;
	font-weight: 400!important;
}
.story_unit img {
	width: 100%;
}
#map2 {
	height: 100%!important;
}

.stories_map {
	height: 100%!important;
}
/*@media (max-height: 481px) {
	.stories_map {
		position: relative!important;
		height: 20em!important;
	}
}*/
.story_entry {
	margin-top: 1em;
}
.story_entry img {
	border: 3px solid white!important;
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4)!important;
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.4)!important;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.4)!important;	

	margin-bottom: 0.5em;
}
.story_entry p {
	margin-bottom: 1.5em!important;
	font-size: 0.9em!important;
	line-height: 18px!important;
}

/* Stories Article Side Nav */
/* ------------------------------------------ */

#side_nav_story h2 {
	font-family: ubuntu;
	color: white!important;
	font-weight: 400;
	margin-left: 1em!important;
}
#side_nav_story .side_nav a {
	margin: 0!important;
}
#side_nav_story .side_nav a img {
	float: left;
}
.side_story_list img {
	width: 100%;
}
.side_story_list a {
	margin-left: 0!important;
	padding-left: 0!important;
	/*margin: 0!important;*/
	/*padding: 0!important;*/
}
.side_story_list .thumbnail_square {
	width: 5em;
	height: 5em;
	margin-right: 0.5em;
}
.side_story_list p {
	width: 88%;
	margin: 0!important;
	line-height: 12px!important;
}
.side_story_list li {
	min-height: 6.7em!important;
}
.side_story_list h4 {
	font-size: 0.9em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*.scroll {
	overflow-y: scroll;©401
}*/

.cat_main {
	font-weight: 400!important;
	border-top: none!important;
	font-size: 1.2em!important;
	background-color: #777;
}
.cat_sec  {
	display: none;	
}
.cat_sec a {
	font-weight: 100!important;
	/*text-indent: 10px;*/
	font-size: 1.1em!important;	
	background-color: transparent!important;
}
#menu li {		
	line-height: 1.6em!important;
}
#menu li:active {		
	background-color:#94BE54;
}
#menu ul.list {
	margin-bottom: 0!important;
}

